name: setup
on:
  workflow_dispatch:
    inputs:
      projectName:
        description: 'プロジェクト名'
        required: true
      title:
        description: 'タイトル'
        required: true
      branchName:
        description: 'ブランチ名'
        required: true
        default: 'main'
jobs:
  setup:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v2
      - name: ファイル置換
        run: |
          function ReplaceFile($FilePath, $From, $To) {
            $text = (Get-Content $FilePath).Replace($From, $To)
            Set-Content -Path $FilePath -Value $text
          }
          function ReplaceFiles($FilePaths, $From, $To) {
            foreach ($FilePath in $FilePaths) {
              ReplaceFile $FilePath $From $To
            }
          }
          
          # 設定値
          $projectName = '${{ github.event.inputs.projectName }}'
          $title = '${{ github.event.inputs.title }}'
          
          # テキスト置換： vue2-pwa → projectName
          ReplaceFiles  -FilePaths @('./package.json', './package-lock.json', './public/404.html', './.env') `
                        -From "vue2-pwa" `
                        -To $projectName          
          # テキスト置換： Vue2+PWA → title
          ReplaceFiles  -FilePaths @('./.env') `
                        -From "Vue2+PWA" `
                        -To $title
      - name: README.mdを更新
        run: |
          Set-Content -Path ./README.md @"
          # ${{ github.event.inputs.title }}(${{ github.event.inputs.projectName }})
          
          "@
      - name: ワークフロー(setup)を削除
        run: |
          Remove-Item ./.github/workflows/setup.yml
      - name: コミット
        run: |
          git --version
          git config user.name github-actions
          git config user.email github-actions@github.com
          git branch -a
          git checkout -b ${{ github.event.inputs.branchName }}
          git add --all
          git commit -a -m "セットアップ"
          git push origin ${{ github.event.inputs.branchName }}
